{% extends "base.html" %}
{% block title %}Connexion{% endblock %}
{% block body %}
<div class="container-fluid bg-image d-flex align-items-center justify-content-center m-bt-15">
    <div class="row flex item-center w-100">
        <div class="col-md-6 d-flex align-items-center">
            <div class="b-text text-left w-100">
                Des <span class="color-active">centaines<br></span> 
                <span class="color-b1">d'articles vous</span> attendent
            </div>
        </div>
        <div class="col-md-6">
            <div class="login-wrapper">
                <div class="hidden-xs text-center mb-4">
                    <img src="/images/login.jpg" alt="Login Image" class="img-fluid">
                </div>
                <div class="login-window p-4 shadow">
                    <div class="l-head text-center mb-3">
                        Connexion
                    </div>
                    <div class="l-form">
                        <form action="" method="post">
                            <div class="form-group">
                                <label class="ml-1 flex justify-start" for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="sample@gmail.com">
                            </div>
                            <div class="form-group">
                                <label class="ml-1 flex justify-start" for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="**********">
                            </div>
                            <div class="form-group flex justify-center form-check">
                                <input type="checkbox" class="form-check-input" id="rememberMe" name="#">
                               <div class="flex-col item-start flex ml-2">
                                    <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
                                    <span class="text-muted small d-block">(non recommandé si vous êtes sur un ordinateur partagé)</span>
                                </div>
                            </div>
                            <div class="row w-100 justify-center flex">
                                <div class="col-lg-7">
                                    <button type="submit" name="submit" class="btn btn-cv1 w-100">Connexion</button>
                                </div>
                                <div class="hidden-xs col-lg-5 text-center d-flex align-items-center justify-content-center">
                                    <span class="px-2">or</span>
                                    <a href="signup.html">Inscription</a>
                                </div>
                            </div>
                            <div class="row hidden-xs mt-3">
                                <div class="col-lg-12 text-center">
                                    <a href="#">Mot de passe oublié ?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
